<%- errorMessagesFor(user) %>
<div class="control-group">
   <%- form.label("key", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("key") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("domain", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("domain") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("requests", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("requests") %>
   </div>
</div>
