<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.users %>">users</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Details of user</a></li>
</ul>

<div class="page-header">
    <h1>Details of user</h1>
</div>

<table class="table table-bordered">
    <tbody>
        <tr><th>key</th><td><%= user.key %></td></tr>

        <tr><th>domain</th><td><%= user.domain %></td></tr>

        <tr><th>requests</th><td><%= user.requests %></td></tr>
    </tbody>
</table>

<div class="well">
    <%- link_to('<i class="icon-edit icon-white"></i> Edit', pathTo.edit_user(user), {class: 'btn btn-primary'}) %>
    <%- link_to('<i class="icon-remove icon-white"></i> Delete', pathTo.user(user), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %>
    or
    <%- link_to('Back to index', pathTo.users) %>
</div>
