<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active"><a href="<%- '/' + url + '/requests' %>">requests</a> <span class="divider">/</span></li>
</ul>

<div class="page-header">
    <h1>Index of request</h1>
</div>

<div class="row">
    <div class="span12">
        <% if (requests.length > 0) { %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status<th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% requests.forEach(function (request) { %>
                <tr>
                    <td><strong><%- link_to(request.id + ' ' + request.req.method + ' ' + request.req.url, '/' + url + '/requests/' + request.id) %></strong></td>
                    <td><%- !!request.res ? 'finished' : 'waiting' %></td>
                    <td>
                        <%- link_to('<i class="icon-remove icon-white"></i> Delete', '/' + url + '/requests/' + request.id, {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'}) %>
                        <%- link_to('Repeat', '/' + url + '/requests/' + request.id, {class: 'btn btn-mini btn-warning', method: 'put', remote: true, jsonp: '(function (u) {location.href = u;})'}) %>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <% } else { %>
        <p class="alert alert-block alert-info">
            <strong>No requests were found.</strong>
        </p>
        <% } %>
    </div>
</div>
